  <div class="navbar navvar-expand-sm justify-content-end">
    <a href="index"><i class="fa fa-fw nav-icon fa-home"></i></a>
    <a href="search"><i class="fa fa-fw nav-icon fa-search"></i></a>
    <a href="browse"><i class="fa fa-fw nav-icon fa-list-ul"></i></a>
    <a href="members"><i class="fa fa-fw nav-icon fa-user"></i></a>
  </div>
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-transparent p-4">
        <h4 class="text-white"></h4>
        <span class="text-muted"></span>
      </div>
    </div>
  </div>

  <div class="jumbotron text-center">
    <h1 class="display-3">Browse Sales</h1>
  </div>

  <div class="sales">
    <h1 class="display-6 text-white">All Sales</h1>
    {{!-- <table class="table mx-0 text-white" id="sale-table">
      <thead>
        <tr>
          <th scope="col">Sale</th>
          <th scope="col">Store</th>
          <th scope="col">Store Category</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
          <th scope="col">Sale Start Date</th>
          <th scope="col">Sale End Date</th>
          </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table> --}}
    <ul id="sale-table">
      {{#each posts}}
      <li>Sale: {{sale}}
        <ul>
          <li>Store: {{store}} | Store Category: {{storeCategory}}</li>
          <li>City: {{storeCity}} | State: {{storeState}} | Start Date: {{moment startDate "L"}} | End Date: {{moment stopDate "L"}}</li>
        </ul>
      {{/each}}
    </ul>
  </div>
   <input type="button" class="btn btn-primary font-weight-bold" onclick="location.href='add-sale';" value="Add Sales" />
</div>
